

body {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to right, #4a90e2, #9013fe); */
    background-image: url('background.jpg');
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        margin: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #223646;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #3d4c5c;
}

h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #4a90e2;
    outline: none;
}

input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

button {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

#downloadLink {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

#downloadLink:hover {
    color: #0056b3;
}

canvas {
    display: none;
    /* Keep the canvas hidden */
}
